@font-face {
  font-family: "FragmentMono";
  src: url(FragmentMono-Regular.woff2);
}
*{
  margin: 0px;
  padding: 0px;
}
body {
  /* max-width: 600px; */
  float: none !important;
  background: hsl(0, 0%, 100%);
  overflow: hidden;
  
} 



#img-container{
  width: 100%;
  height: 100%;
}

#main-img {
  max-width: 70%;
  transition: all 0.1s;
  image-rendering: pixelated;
  mix-blend-mode: screen;
}
#main-img-fill {
  width: 100vw;
  height: 100vh;
  image-rendering:crisp-edges;
  opacity: 90%;
  mix-blend-mode: multiply;
}

.main-page {
  
  width: 100vw;
  height: 100svh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: sans-serif;
  font-size: 17px;
  color: rgb(31, 31, 31);
  
}

a:link {
  color: rgb(25, 25, 25);
  background-color: transparent;
}

.info {
  position: fixed;
  text-align: center;
  font-family: Helvetica, Arial, sans-serif;
  font-style: normal;
  font-size: 12px;
  color: rgb(0, 0, 0);
  text-shadow: rgb(0, 0, 0) 0.5px 0px 0px;
  line-height: 18px;
  border: none;
  outline: none;
  background: none;
  pointer-events: none;
}

.animated {
  -webkit-animation-duration: 20s;animation-duration: 20s;
  -webkit-animation-fill-mode: both;animation-fill-mode: both;
}

@-webkit-keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

@keyframes fadeOut {
  0% {opacity: 1;}
  100% {opacity: 0;}
}

.fadeOut {
  -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
}