@font-face {
    font-family: "Standards";
    src: url(Standards-90.otf);
    
  }
  @font-face {
    font-family: "StandardsU";
    src: url(Standards-90-Underlined.otf);
  }

  @font-face {
    font-family: "StandardsM";
    src: url(StandardsMono-Regular.otf);
  }

body{margin: 0; padding:0;}
  
  .main{
    font-family: "Standards";
    font-size: 22px;
    align-items: center;
    justify-content: center;
text-align: center;}
p{text-align: center;}